
  p {
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: #787878;
    line-height: 26px;
  }

.tagline {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  font-weight: 200;
  color: #787878;
  line-height: 26px;
}

.app-name {
  font-family: 'Muli', sans-serif;
  font-size: 30px;
  font-weight: 200;
  color: #787878;
  text-align: center;
  line-height: 26px;
}

.introduction {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  font-weight: 200;
  color: #787878;
  line-height: 26px;
}

  label {
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    line-height: 26px;
  }

a {
  color: #FF3F57;
}

a:hover {
  color: #FFB4BD;
}

h3 {
  font-family: 'Muli', sans-serif;
  font-size: 36px;
  color: #4A4A4A;
  line-height: 49px;
}

.coming-soon {
  font-family: 'Muli', sans-serif;
  font-size: 30px;
  color: #4A4A4A;
  margin-top: 60px;
  margin-bottom: 60px;
}

.signup {
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  color: #FF3F57;
  line-height: 26px;
  border: 1px solid #FF3F57;
  border-radius: 8px;
  padding: 20px 20px 20px 20px;
  display: inline-block;
}

.signup:hover {
  color: #FFFFFF;
  background: #FFB4BD;
  border: 1px solid #FFB4BD;
}

.gray-bg {
  /* gray-bg: */
  background: #F8F8F8;
}

.gray-gradient-bg {
  /* Rectangle 8: */
  background-image: linear-gradient(-180deg, #FFFFFF 0%, #F8F8F8 100%);
}

.logo {
  /* logo: */
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.deep-logo {
  width: 75.5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.logo-row {
  margin-top: 65px;
  margin-bottom: 25px;
}

.logo-deep-row {

}

.deep-caption {
  margin-top: 10px;
  margin-bottom: 65px;
  text-align: center;
}

.deep-caption p {
  color: #999;
}

img.deep-phone {
  width: 302px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.deep-intro {
  margin-top: 60px;
  margin-bottom: 30px;
}

@media only screen and (min-width: 40.063em) {
  .row {
    padding-left: 80px;
    padding-right: 80px;
  }

  .coming-soon {
    font-size: 48px;
  }

  .app-name {
    font-size: 50px;
  }
}

form .row {
  padding-left: 0px;
  padding-right: 0px;
}

form .large-7 {
  width: 100%;
}

.image-effects-row {
  margin-top: 150px;
  margin-bottom: 100px;
}

.image-effects-column {
  vertical-align: middle;
  display: inline-block;
}

img.fivec {
  margin-top: 50px;
  margin-bottom: 150px;
  margin-left:auto;
  margin-right:auto;
  display: block;
}

.gesture-title {
  text-align: center;
}

.bottom-row {
  text-align: center;
  margin-bottom: 100px;
  margin-top: 100px;
}

.download-top {
  text-align: center;
  margin-bottom: 100px;
  margin-top: -20px;
}

.footer {
  text-align: center;
  font-size: 12px;
}

.sample {
  margin-bottom: 150px;
}

input[type="submit"] {
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  color: #FF3F57;
  background-color: white;
  line-height: 26px;
  border: 1px solid #FF3F57;
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  margin-top: 20px;
  -webkit-appearance: none;
}

input[type="submit"]:hover {
  color: #FFFFFF;
  background: #FFB4BD;
  border: 1px solid #FFB4BD;
}

input[type="text"] {
  line-height: 26px;
  width: 100%;
}

input[type="email"] {
  line-height: 26px;
  width: 100%;
}

.cancel {
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  color: #4DB3D6;
  background-color: white;
  line-height: 26px;
  border: 1px solid #4DB3D6;
  border-radius: 5px;
  padding: 9.5px 20px 10.5px 20px;
  margin-top: 20px;
}

.cancel:hover {
  color: #FFFFFF;
  background: rgba(89, 212, 255, 0.78);
  border: 1px solid rgba(89, 212, 255, 0.78);
}

.coming-soon-note {
  font-size: small;
  padding-left: 30px;
  padding-right: 30px;
}
