p {
  font-family: AvenirNext-Regular;
  font-size: 18px;
  font-weight: 100;
  color: #787878;
  line-height: 26px;
}

a {
  color: #FF3F57;
}

h3 {
  font-family: AvenirNext-Regular;
  font-size: 36px;
  color: #4A4A4A;
  line-height: 49px;
}

.coming-soon {
  font-family: AvenirNext-Regular;
  font-size: 48px;
  color: #4A4A4A;
  line-height: 66px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.signup {
  font-family: AvenirNext-Regular;
  font-size: 18px;
  color: #FF3F57;
  line-height: 26px;
  /* Rectangle 9: */
  border: 1px solid #FF3F57;
  border-radius: 8px;
  padding: 20px 20px 20px 20px;
}

.gray-bg {
  /* gray-bg: */
  background: #F8F8F8;
}

.gray-gradient-bg {
  /* Rectangle 8: */
  background-image: linear-gradient(-180deg, #FFFFFF 0%, #F8F8F8 100%);
}

.logo {
  /* logo: */
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.deep-logo {
  width: 75.5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.logo-row {
  margin-top: 65px;
  margin-bottom: 25px;
}

.logo-deep-row {

}

.deep-caption {
  margin-top: 5px;
  margin-bottom: 65px;
  text-align: center;
}

.deep-caption p {
  color: #999;
}

img.deep-phone {
  width: 302px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.deep-intro {
  margin-top: 60px;
  margin-bottom: 30px;
}

.row {
  padding-left: 80px;
  padding-right: 80px;
}

.image-effects-row {
  margin-top: 150px;
  margin-bottom: 100px;
}

.image-effects-column {
  vertical-align: middle;
  display: inline-block;
}

img.fivec {
  margin-top: 50px;
  margin-bottom: 150px;
  margin-left:auto;
  margin-right:auto;
  display: block;
}

.gesture-title {
  text-align: center;
}

.bottom-row {
  text-align: center;
  margin-bottom: 100px;
}

.footer {
  text-align: center;
  font-size: 14px;
}
